.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: twinkle var(--duration) infinite;
    opacity: 0;
    box-shadow: 
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 8px rgb(93, 185, 239),
        0 0 10px rgb(93, 185, 239);
    filter: brightness(1);
}

@keyframes twinkle {
    0% { 
        opacity: 0; 
        filter: brightness(0.8);
    }
    50% { 
        opacity: 1;
        filter: brightness(1.2);
    }
    100% { 
        opacity: 0;
        filter: brightness(0.8);
    }
}
